*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}

#top_header{
    
    background: red;
}

.container{
    
    width: 1110px;
    margin: auto;
   
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/*header part css */

#top_header{
    background: red;
}

.header_left{
width: 20%;
}


.header_right{
    width: 80%;

}

body{
    font-family: 'Arimo' , sans-serif;
}

.header_left h4{
    font-size: 18px;
    font-weight: 400px;
    color: #fff;
    padding: 10px 0;
}

.valign_center{
    align-items: center;
}

.header_right marquee{
    color: #fff;
    font-size: 16px;
}

