*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}

p{
    font-size: 13px;
    line-height: 24px;
    color: #666666;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 24px;
    color: #333333;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    
}

h3{
    font-size: 16px;
    color: #333333;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.section_heading{
    text-align: center;
    padding-top: 46px;
    
    
}

.section_heading h2{
    position: relative;
    display: inline-block;
}



.section_heading h2::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 60px;
    background: url(../images/pro-2-pic-2.png);
    left: 0;
    bottom: 0;

}



.container{
    width: 960px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.valign_center{
    align-items: center;
}

.align_center{
    justify-content: center;
}

.align_space_between{
    justify-content: space-between;
}




/*header part start*/
#top_header{
    background-color: #0872b9;
}

.header_left p{
    color: #ffffff;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 9px;
}

.header_icon a{
    color: #ffffff;
    padding-left: 25px;
    font-size: 14px;
    transition: .5s;
}

.header_icon a:hover{
    color: #333333;
}
/*header part end*/




/*menu part start*/
.logo{
    padding: 20px 0;
}

.menu ul li{
    display: inline-block;
}


.menu ul li a{
    color: #333333;
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 14px;
}


.menu ul .active a,
.menu ul li a:hover{
    color: #0066cc;
}


/*menu part end*/


/*banner part css*/

.banner_items{
    height: 400px;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.banner_items::after{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, .60);
   z-index: -1;
}

.banner_content{
    max-width: 460px;
    text-align: right;
    margin-left: auto;
}

#banner .container{
    display: flex;
    align-items: center;
    height: 100%;
}

.banner_items h3{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
}

.banner_items h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    
}

.banner_items p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
}

.banner_items a{
    background: none;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-left: 20px;
    display: inline-block;
    margin-top: 32px;
    transition: .5s;
}

.banner_items a:hover{
    border: none;
    background-color: #0066cc;
}

.banner_content .active{
    background-color: #0066cc;
    border: none;
}

/*banner part end*/


/*about part start*/

#about_part .section_heading{
    margin-bottom: 40px;
}

.about_image{
    width: 40%;
}

.about_image img{
    width: 100%;
}

.about_content{
    width: 60%;
    padding-left: 20px;
}

.about_content p{
    padding-bottom: 18.5px;
}

/*about part end*/



/*our service start*/

#our_service .section_heading{
    margin-bottom:  65px;
  
}


.service_item{
    width: 33.3%;
    padding: 0 10px;
    text-align: center;
    
    
}

.service_inner{
    background: #f1f1f1;
   padding: 50px 20px 20px 20px;
    position: relative;
}

.service_icon{
   height: 81px;
   width: 81px;
   background-color: #FFFFFF;
   border-radius: 50%;
   position: absolute;
   left: 50%;
   top: 0;
   transform: translate(-50%,-50%);
   z-index: 1;

}

.service_icon img{
    margin-top: 20px;
    
}


.service_icon::after{
    content: '';
    position: absolute;
    height: 73px;
    width: 73px;
    border-radius: 50%;
    border: 1px solid red;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
} 


.service_icon::before{
    content: '';
    height: 69px;
    width: 69px;
   background-color: #F1F1F1;
   position: absolute;
   left: 50%;
   top: 50%;
   border-radius: 50%;
   transform: translate(-50%,-50%);
   z-index: -1;
}


.service_inner:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}









.service_inner:hover .service_icon:after{
   border-color: #66ccff;
   
}




.service_inner:hover .service_icon::before{
    background-color: #66ccff;
    
}






/*our service end*/



/*our portfolio part start*/


#portfolio_part .section_heading{
    margin-bottom: 20.5px;
    
}

.portfolio_items{
    width: 25%;
    padding: 0 10px;
}

.fortfolio_image img{
    width: 100%;
    display: block;
    
}

.fortfolio_image{
    margin-bottom: 20px;
    position: relative;
}

.fortfolio_image .overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .70);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    transform: scale(0);
}

.fortfolio_image .overlay a{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: #66ccff;
    display: inline-block;
    color: #FFFFFF;
}

.fortfolio_image:hover .overlay{
    transform: scale(1);
}





/*our portfolio part end*/



/*our team part start*/

#our_team .section_heading{
    margin-bottom: 30px;
} 
.team_items{
    width: 25%;
    padding: 0 10px;
    text-align: center;
}

.team_image img{
    width: 100%;
    display: block;
    
}

.team_image{
    position: relative;
    overflow: hidden;
    
}

.team_image:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    
}

.team_image .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background: rgba(0, 0, 0, .70);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    transition: .5s;
    opacity: 0;
}

.team_image:hover .overlay{
    width: 82px;
    opacity: 1;
} 


.team_image .overlay a{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: inline-block;
    color: #FFFFFF;
    margin: 5px 0;
    transition: .5s;
}

.team_image .overlay a:hover{
    background: #66ccff;
}


/*our team part end*/


/*testimonial part start*/



#testimonial_part .section_heading{
    padding-bottom: 30px;
}

.testimonial_items{
    width: 50%;
    padding: 0 10px;
}

.testimonial_img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto;
   
    
}

.testimonial_content{
    background: #F1F1F1;
    padding: 15px;
    text-align: center;
    margin-top: 36px;
    position: relative;
}

.testimonial_content::after{
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 30px solid #F1F1F1;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
}


.testimonial_content i{
    color: #66ccff;
    padding-top: 10px;
    padding-bottom: 12px;
    
 
}

.testimonial_content .justp{
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
/*testimonial part start*/



/*fotter part start*/

#fotter_part{
    background-color: #333333;
    margin-top: 60px;
}

.fotter_about{
width: 25%;
}

.fotter_about img{
    padding-top: 20px;
    padding-bottom: 30px;
}

.fotter_about p{
    color: #ffffff;
    padding-bottom: 36px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    
}


.fotter_contact{
    width: 25%;
}

.con_icon i{
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
   
    
    color: #FFFFFF;
    background: #66ccff;
   
}

.con_text a{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    color: #ffffff;
}

.fotter_contact .row{
    margin-bottom: 15px;
}

.fotter_contact h2{
    padding-top: 30px;
    padding-bottom: 42px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.fotter_link{
width: 15%;
}

.fotter_link h2{
    padding-top: 30px;
    padding-bottom: 42px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}



.menu_item ul li a{
    color: #ffffff;
    padding-bottom: 12.5px;
    text-align: left;
    display: inline-block;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    transition: .5s;
    
}



.menu_item ul li a:hover{
    color: #66ccff;
}

.fotter_photo{
width: 35%;
}

.fotter_photo h2{
    padding-top: 30px;
    padding-bottom: 42px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.fotter_photo img{
    padding: 5px 5px;
}
/*fotter part end*/


/*last part start*/

#last_part{
    background-color: #666666;
}

.copyright{
    width: 50%;
}

.copyright p{
    width: 100%;
    color: #ffffff;
    
    text-align: right;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding: 15px 0;
    
}


.beat{
    width: 50%;
}

.beat p{
    width: 100%;
    color: #66ccff;
    
   
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding: 15px 0;
    padding-left: 4px;
}
/*last part end*/