.main{
   
    width: 1300px;
    height: 600px;
    margin: auto;
    background-color: violet;
    
    background-repeat: no-repeat;
   
    background-position: center;
    background-size: cover;
    background-position:  center center;
}
.common{

    height: 600px;
    width: 433px;
    float: left;
    
}

.one1{
    background-color: blue;
   
}

.two1{
    background-color: #F5F5F5;
    
    
}
.two1 h2{
    text-align: center;
    
}

.two1 p{
    font-size: 22px;
font-family: sans-serif;
color: blueviolet;
}

.two1 a{

    color: red;
    font-size: 30px;
}

.two1 h3{

    color:black;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    font-style: bold;
    background-color: #49596D;
    padding: 20px;
    border-radius: 0px 30px 30px 0px;
    background-image: url(../ICONS/last\ icon.jpg);
    background-repeat: no-repeat;
    background-position: left center;
}

.three1{
background-color: brown;
background-image: url(../images/EVE.png);
background-size:  cover;

}

.main2{
   
    width: 433px;
    height: 600px;
    margin: auto;
    background-color: violet;
    
    background-repeat: no-repeat;
   
    background-position: center;
    background-size: cover;
    background-position:  center center;
}

.common2{

    height: 200px;
    width: 144px;
    float: left;
    
}

.one2{
    background-color: gray;
    background-image: url(../icons/ICON1.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size:  cover;
    background-position:  center center;
    text-align: center;
    
}
.one3{

    background-color: thistle;
    
    background-image: url(../icons/icon2.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size:  cover;
    background-position:  center center;
    text-align: center;
    
}
.one4{
    background-color: green;
   
    background-image: url(../icons/icon3.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size:  cover;
    background-position:  center center;
    text-align: center;
    
}

.one5{
    background-color: olive;
    background-image: url(../icons/icon4.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size:  cover;
    background-position:  center center;
    text-align: center;
    
}
.one6{

    background-color: orange;
    background-image: url(../icons/icon5.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size:  cover;
    background-position:  center center;
    text-align: center;
    
}
.one7{
    background-color: wheat;
    background-image: url(../icons/icon6.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size:  cover;
    background-position:  center center;
    text-align: center;
    
}

.one8{
    background-color: burlywood;
    background-image: url(../icons/icon7.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size:  cover;
    background-position:  center center;
    text-align: center;
    
}
.one9{

    background-color: teal;
    background-image: url(../icons/icon8.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size:  cover;
    background-position:  center center;
    text-align: center;
}
.one10{
    background-color: indigo;
    background-image: url(../icons/icon9.jpg);
    background-repeat: no-repeat;
    
    background-position: center;
    background-size:  cover;
    background-position:  center center;
    text-align: center;
    
}
