*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}


body{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ddd;
    font-family: 'Open Sans', sans-serif;
}

h2{
    color: #fff;
    font-family: 'great vibes', 'cursive';
    font-weight: 400;
    text-transform: capitalize;
    font-size: 35px;
}

h1{
    color: #fff;
    font-family: 'great vibes', 'cursive';
    font-weight: 400;
    text-transform: capitalize;
    font-size: 60px;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 1170px;
    margin: auto;
}


.justify_content_center{
    justify-content: center;
}

.justify_content_between{
    justify-content: space-between;
}

.valign_center{
    align-items: center;
}


/*main menu part start*/
.menu ul li{
    display: inline-block;
}

#menu_part{
    padding-top: 50px;
    position: absolute;
    z-index: 99;
    width: 100%;
}


.menu ul li a{
    color: #fff;
    padding: 0 10px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px;
    transition: .5s;
    position: relative;
    
}

.menu ul li a:hover:after{
    position: absolute;
    content: '';
    height: 10px;
    width: 25px;
    background-size: cover !important;
    background: url(../images/pro-5-menu-logo.png);
    z-index: 99;
    left: 40%;
    top: 25px;
}

.menu ul li .active{
    color: #ff6699;
    
    
}

.menu ul li .active:after{
    position: absolute;
    content: '';
    height: 10px;
    width: 25px;
    background-size: cover !important;
    background: url(../images/pro-5-menu-logo.png);
    z-index: 99;
    left: 40%;
    top: 25px;
}

.menu ul li a:hover{
    color: #ff6699;
}


/*main menu part end*/



/*banner part start*/


.banner_items{
    height: 750px;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
}

.banner_items::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}

.banner_items::before{
    position: absolute;
    content: '';
    height: 0.8px;
    width: 100%;
    background-color: #ff6699;
    top: 118px;
    z-index: 99;
}

.banner_content{
    max-width: 630px;
    position: absolute;
    text-align: center;
    z-index: 99;
    left: 390px;
    top: 245px;
    
    
    
}

.banner_content span{
    color: #ff6699;
}

.banner_content h3{
    font-size: 22px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 30px;
}

.banner_content a{
    color: #ffffff;
    padding: 10px 20px;
    background-color: #ff6699;
    margin-top: 30px;
    transition: .4s;
    display: inline-block;
    
}


.banner_content a:hover{
    color: #ff6699;
    background-color: #ffffff;
    border: 2px solid #ff6699;
    
}


/*banner part end*/


/*about night bird start*/



#about_night{
    background-color: #111111;
    padding-top: 70px;
}

.about_one{
    width: 25%;
    display: block;
    transition: .5s;
    overflow: hidden !important;
    
}

.about_one img{
    width: 100%;
}

.about_two{
    width: 50%;
    text-align: center;
}

.about_two img{
    padding-top: 10px;
}

.about_one img:hover{
    transform: scale(1.2);
    
    
    
}

.about_two p{
    padding: 10px 30px;
    
}


.about_two a{
    background-color: #D15A76;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 70px;
    display: inline-block;
    transition: .4s;
}

.about_two a:hover{
    color: #ff6699;
    background-color: #ffffff;
    border: 2px solid #ff6699;
    
}

/*about night bird end*/


/*nights bird gallary start*/


.gallary_items{
    height: 600px;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    
}


.gallary_items::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1;
}

.gallary_heading{
    position: absolute;
    width: 300px;
    text-align: center;
    z-index: 99;
   padding-top: 30px;
   left: 40%;
}

.gallary_items_one{
    width: 50%;
    z-index: 2;
    padding: 0 10px;
    padding-top: 120px;
}

.gallary_items_one img{
    width: 100%;
    
}

.galary_inner{
    position: relative;
}



.gallary_pic_one .overlay{
    position: absolute;
    
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 95, 131, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    transition: .5s;
    opacity: 0;
}

.gallary_pic_one .overlay a{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: none;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
    transition: .5s;
    
 }

 .galary_inner:hover .gallary_pic_one .overlay{
    height: 100%;
    opacity: 1;
 }


 .gallary_pic_one .overlay a:hover{
     color: #DF5373;
     background-color: #ffffff;
     border: 1px solid #DF5373;
 }

 .gallary_pic_one .img{
     display: block;
 }




.gallary_items_two{
    width: 25%;
    z-index: 2;
    padding: 0 10px;
    padding-top: 120px;
}

.gallary_items_two img{
    width: 100%;
}

.gallary_pic_two .img{
    display: block;
}

.gallary_pic_two .overlay{
    position: absolute;
    
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 95, 131, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    transition: .5s;
    opacity: 0;
}

.gallary_pic_two .overlay a{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: none;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
    transition: .5s;
    
 }

 .galary_inner:hover .gallary_pic_two .overlay{
    height: 100%;
    opacity: 1;
 }

 .gallary_pic_two .overlay a:hover{
    color: #DF5373;
    background-color: #ffffff;
    border: 1px solid #DF5373;
}


.gallary_items_three{
    width: 25%;
    z-index: 2;
    padding: 0 10px;
    padding-top: 120px;
   
    
}

.gallary_items_three img{
    width: 100%; 
}

.gallary_image{
    position: relative;
    
    
}

.gallary_image img{
    display: block;
    padding-bottom: 31px;
}

.gallary_image .overlay{
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 95, 131, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: .5s;
    opacity: 0;
}


.gallary_image .overlay a{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: none;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
    transition: .5s;
    
 }

 .gallary_image:hover .overlay{
    height: 100%;
    opacity: 1;
   
    
 }

 .gallary_image .overlay a:hover{
    color: #DF5373;
    background-color: #ffffff;
    border: 1px solid #DF5373;
}












.gallary_button a{
    background-color: #D15A76;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 45px;
    left: 46%;
    z-index: 2;
    position: absolute;
    transition: .4s;
}

.gallary_button a:hover{
    color: #ff6699;
    background-color: #ffffff;
    border: 2px solid #ff6699;
    
}

/*nights bird gallary end*/


/*Night Bird’s DJ’s start*/


#night_dj{
    background-color: #111111;
}


.dj_heading{
    
    
    text-align: center;
    
   padding-top: 30px;
   
}

.dj_items{
    width: 20%;
    padding: 0 15px;
    padding-top: 120px;
    padding-bottom: 70px;
}

.dj_image img{
    width: 100%;
    display: block;
}

.dj_image .overlay{
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 95, 131, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;

}

.dj_image .overlay a{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: none;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
    transition: .5s;
}

.dj_image .overlay a:hover{
    color: #DF5373;
    background-color: #ffffff;
    border: 1px solid #DF5373;
}

.dj_image:hover .overlay{
    height: 100%;
    opacity: 1;
   
    
 }

.dj_inner{
    position: relative;
}



/*Night Bird’s DJ’s end*/


/*Upcoming Event’s start */


.upcoming_banner{
    height: 480px;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.upcoming_banner::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1;
}

.upcoming_heading{
    position: relative;
    text-align: center;
    z-index: 99;
    padding-top: 20px;
    padding-bottom: 15px;

}

.upcoming_heading h2{
    padding-bottom: 5px;
}

.upcoming_image{
    width: 50%;
    z-index: 2;
    padding-top: 10px;
    overflow: hidden;
    transition: .5s;
    
}

.upcoming_image img{
    width: 100%;
}

.upcoming_image img:hover{
    transform: scale(1.1);
}

.upcoming_text{
    width: 50%;
    z-index: 2;
    padding-left: 20px;
    position: relative;
}

.upcoming_text h5{
    font-size: 16px;
color: #fff;
font-family: 'Dosis', sans-serif;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 1px;
}

.upcoming_text h4 i{
    font-size: 18px;
    color: #ddd;
    padding-right: 5px;
    
}

.upcoming_text h4{
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 20px;
}

.upcoming_text p{
    padding-bottom: 20px;
}

.upcoming_text h6{
    font-size: 14px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.upcoming_text .para{
    width: 25%;
}


.upcoming_text .para{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 0 10px;
    padding-top: 15px;
    text-align: center;
    margin: 0 5px;
    font-family: 'Great Vibes', cursive;
    font-size: 22px;
    color: #FF5F83;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 40px;

  
    
}

.upcoming_text .para p{
    color: #FF5F83;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}




/*Upcoming Event’s end */




/*Night Bird’s Blog start*/



#night_blog{
    background-color: #111111;
    padding-bottom: 80px;
}


.blog_heading{
    text-align: center;
    padding-top: 20px;
}

.blog_items{
    width: 33.33%;
    padding: 0 10px;
    padding-top: 25px;
    
    
}

.blog_image{
    position: relative;
}

.blog_image img{
    width: 100%;
    display: block;
}

.blog_image .overlay{
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 95, 131, .5);
     display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
    
}

.blog_items:hover .overlay{
    height: 100%;
    opacity: 1;
   
    
 }

.blog_image .overlay a{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: none;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
    transition: .5s;
}

.blog_image .overlay a:hover{
    color: #DF5373;
    background-color: #ffffff;
    border: 1px solid #DF5373;
}

.blog_content{
    padding: 0 20px;
    text-align: center;
    border: 0.5px solid #353535;
    border-top: none;
    transition: .5s;
    padding-bottom: 20px;
    
}

.blog_content .row{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.blog_content i{
    color: #ddd;
    padding-right: 8px;
    font-size: 14px;
    display: flex;
    
    align-items: center;
}


.blog_content h3{
    font-size: 18px;
    padding: 20px 0;
    font-family: 'Dosis', sans-serif;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;

}

.blog_button a{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ff5f83;
    padding: 8px 15px;
    
    margin-bottom: 20px;
    display: inline-block;
    transition: .5s;
    
}



.blog_button a:hover{
    color: #ff6699;
    background-color: #ffffff;
    border: 2px solid #ff6699;
    
}

.blog_button a{
    margin: 10px 0;
    margin-bottom: 15px;
}

.blog_button{
    opacity: 0;
    transition: .5s;
    background-color: #111111;
    border: 1px solid #353535;
    border-top: none;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}


.blog_items:hover .blog_button{
    
    opacity: 1;
    z-index: 1;
    transform: translateY(0px);
    border-bottom: none;
    
    
    
}

.blog_items:hover .blog_content{
    border-bottom: none;
}


/*Night Bird’s Blog end*/



/*Night Bird’s Testimonial start*/

.testimonial_banner{
    height: 400px;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.testimonial_banner::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: -1;
}


.testimonial_heading{
    
    z-index: 99;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}


.testimonial_items{
    width: 50%;
}

.testimonial_content{
    text-align: left;
    padding: 30px;
    background-color: #353535;
    width: 70%;
    position: relative;
}



.testimonial_content::before{
    position: absolute;
    content: '';
   border-radius: 2px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #353535;
    border-left: 30px solid transparent;
    top: calc(50% - 25px);
    left: -56px;
}




.testimonial_content h3{
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
}


.testimonial_content h4{
    color: #dddddddd;
    padding: 5px 0;
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
}

.testimonial_content i{
    color: #EC5B7B;
    padding-bottom: 10px;
}

.testimonial_img{
    width: 30%;
    padding-left: 50px;
}



/*Night Bird’s Testimonial end*/





/*Membership Plan start*/


.membership_heading{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

#membership_plan{
    background-color: #111111;
    padding-bottom: 70px;
}

.plan_items{
    width: 33.33%;
    padding: 0 15px;
    transition: .5s;
    
   
}

.plan_inner{
    padding-top: 20px;
    background-color: #353535;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    z-index: 1;
}

.plan_inner h3{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    letter-spacing: 1px;
    
}

.item_circle{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: .5s;
}

.item_circle h4{
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    color: #ff5f83;
    font-size: 22px;
    text-transform: capitalize;
    transition: .5s;
}

.item_circle span{
    font-size: 13px;
}

.plan_inner::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: 113px;
    z-index: -1;
    
}


.plan_inner ul li{
    font-family: 'Open sans', sans-serif;
    color: #dddddd;
    padding: 8px 0;
    font-size: 14px;
}

.plan_button{
    transition: .5s;
}



.plan_button a{
    border: 1px solid #ff5f83;
    
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
    text-transform: uppercase;
    color: #ff5f83;
    padding: 6px 0;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    position: absolute;
}
    
    
    
    
    
    
    



.plan_inner:hover .plan_button a{
    z-index: 1;
    opacity: 1;
    
    position: relative;
}



.plan_inner a:hover{
    border: 1px solid #ff5f83;
    color: #ff5f83;
    background-color: #fff;

}



.plan_items:hover .item_circle{
    
    background-color: #ff5f83;
    color: #fff;
}

.plan_items:hover .item_circle h4{
    
    
    color: #fff;
}

.plan_items:hover .plan_inner::before{
    background-color: #ff5f83;
}








/*Membership Plan end*/



/*last part start*/


.last_banner{
    height: 460px;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
    

}

.last_banner::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    
}

.l_logo{
    width: 25%;
    z-index: 99;
}
.logo_icon i{
    background-color: #FF5F83;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #fff;
    line-height: 30px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
}

.logo_num a{
    color: #fff;
    line-height: 24px;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    transition: .5s;
}

.l_logo img{
    padding-top: 25px;
    display: block;
}

.l_logo p{
    padding: 20px 0;
}

.l_logo .row{
    padding: 10px 0;
}

.logo_num a:hover{
    color: #E75676;
}








.l_twitter{
    width: 25%;
    z-index: 99;
}

.l_twitter h3{
    padding-top: 55px;
    color: #fff;
    letter-spacing: 1px;
font-family: 'Dosis', sans-serif;
font-weight: 600;
font-size: 16px;
padding-bottom: 18px;
}

.text_one{
    padding-bottom: 30px;
}

.text_one h5{
    font-weight: 700;
font-family: 'Open sans', sans-serif;
color: #ddd;
font-size: 14px;
margin-top: 5px;
}

.text_two h5{
    font-weight: 700;
font-family: 'Open sans', sans-serif;
color: #ddd;
font-size: 14px;
margin-top: 5px;
}

.l_instagram{
    width: 25%;
    z-index: 99;
    padding-left: 5px;
    
}

.l_instagram h3{
    padding-top: 55px;
    color: #fff;
    letter-spacing: 1px;
font-family: 'Dosis', sans-serif;
font-weight: 600;
font-size: 16px;
padding-bottom: 18px;
}

.l_instagram a img{
    padding: 5px 5px;
}

.l_instagram a img:hover{
    transform: scale(1.2);
}

.l_instagram a{
    overflow: hidden !important;
    transition: .5s;
}



.l_sign{
    width: 25%;
    z-index: 99;
}

.l_sign h3{
    padding-top: 55px;
    color: #fff;
    letter-spacing: 1px;
font-family: 'Dosis', sans-serif;
font-weight: 600;
font-size: 16px;
padding-bottom: 18px;

}

.l_sign form{
    margin-top: 3.5px;
}


.l_sign input{
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #fff;
    background: transparent;
    color: #ddd;
    font-size: 13px;
font-family: 'Open sans', sans-serif;
height: 35px;
}

.l_sign .button{
    background-color: #FF5F83;
    border: none;
   
    transition: .5s;
    color: #fff;
    font-weight: 600;
font-size: 14px;
font-family: 'Dosis', sans-serif;
letter-spacing: 2px;
font-weight: 600;
text-transform: uppercase;
cursor: pointer;

}

.l_sign .button:hover{
    background-color: #fff;
    border: 2px solid #FF5F83;
    color: #FF5F83;
}

.sign_icon h3{
    color: #fff;
    letter-spacing: 1px;
font-family: 'Dosis', sans-serif;
font-weight: 600;
font-size: 16px;
padding-top: 45px;
padding-bottom: 15px;

}

.sign_icon a{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    margin-right: 5px;
    text-align: center;
    line-height: 35px;
    transition: .5s;
}

.sign_icon a:hover{
    border: none;
    background-color: #FF5F83;
}

.final_part p{
    z-index: 99;
    position: absolute;
   text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    line-height: 24px;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
    
    
}

.final_part a{
    color: #FF5F83;
    position: relative;
    transition: .5s;
}

.final_part a:hover{
    color: #fff;
    
    
}

.final_part{
    display: flex;
    justify-content: center;
    width: 100%;
}

.last_banner::before{
    position: absolute;
    content: '';
    z-index: 99;
    height: .5px;
    width: 100%;
    bottom: 55px;
    background-color: #fff;
}



/*last part end*/